.jumbotron {
  margin-top: 50px;
  border: black solid;
}

h1 {
  text-align: center;
  font-family: monospace;
}

h2 {
  text-align: center;
  font-family: monospace;
}

body {
  background-color: #b4edd4;
}

button {
  margin-top: 20px;
}

.results {
  margin-top: 10px;
  white-space: pre;
  font-size: 20px;
  font-family: monospace;
}
